@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Raleway";
  /* prettier-ignore */
  src: 
    /* load from client's local if possible */
    local("Raleway-Regular"),
    /* try base raleway if possible for 'regular' */
    local("Raleway"),
    url("/fonts/Raleway-Regular.ttf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Raleway";
  /* prettier-ignore */
  src:
    /* load from client's local if possible */
    local("Raleway-Medium"),
    url("/fonts/Raleway-Medium.ttf");
  font-style: normal;
  font-weight: 500;
}

@layer base {
  html,
  body {
    font-family: Raleway, sans-serif;
  }
}

@layer components {
  /** 
    * Opacity fade-in component
    * @default duration is 500ms
    */
  .fade-in {
    @apply transition-opacity ease-out duration-500;
  }
}
