name: Page Deploy

on:
  workflow_dispatch:
    inputs:
      branch:
        description: The branch to build
        required: true

  workflow_call:
    inputs:
      branch:
        type: string
        description: The branch to build
        required: true
    secrets:
      CLOUDFLARE_API_TOKEN:
        required: true
      CLOUDFLARE_ACCOUNT_ID:
        required: true
      VITE_PUBLIC_POSTHOG_KEY:
        required: true
      VITE_PUBLIC_POSTHOG_HOST:
        required: true
      PRIVATE_POSTHOG_KEY:
        required: false

permissions:
  contents: write
  deployments: write

jobs:
  deploy-page:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: lts/iron # node LTS v20.XX

      - name: Install Bun
        run: npm install -g bun

      - name: Install Dependencies
        run: bun install

      - name: Build
        run: bun run cloudflare-step-deploy
        env:
          VITE_PUBLIC_POSTHOG_KEY: ${{ secrets.VITE_PUBLIC_POSTHOG_KEY }}
          VITE_PUBLIC_POSTHOG_HOST: ${{ secrets.VITE_PUBLIC_POSTHOG_HOST }}
          PRIVATE_POSTHOG_KEY: ${{ secrets.PRIVATE_POSTHOG_KEY }}

      - name: Publish
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: ${{ vars.PAGES_PROJECT_NAME }} # e.g. 'my-project'
          branch: ${{ inputs.branch }}
          directory: ${{ vars.OUTPUT_DIRECTORY }} # e.g. 'dist'
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
          wranglerVersion: "3"
